<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_test)/maps/map.yaml" output="screen">
    <param name="frame_id" value="map"/>
  </node>
  
  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
      <rosparam command="load" file="$(find navigation_test)/config/amcl.yaml" />
      <param name="base_frame_id" value="base_footprint" />
      <param name="odom_frame_id" value="odom" />
      <param name="global_frame_id" value="map" />
  </node>

  <!-- LiDAR -->
  <include file="$(find ydlidar_ros)/launch/X2L.launch" />

  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>